body {
    background-color: aliceblue;
}

.card1 {
    width: 300;
    height: 400;

}

.card2 {
    width: 300;
    height: 400;

}
.card3 {
    width: 300;
    height: 400;

}
.card4 {
    width: 300;
    height: 400;

}
.card5 {
    width: 300;
    height: 400;

}
.card6 {
    width: 300;
    height: 400;

}
.card7 {
    width: 300;
    height: 400;

}
.card8 {
    width: 300;
    height: 400;

}

img {
    width: 300;
    height: 400;
}

.card7 button a {
    text-decoration: none;
}

